.App {
  font-family: sans-serif;
  text-align: center;
}

.selected{
  background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
}

.options {
  padding: 8px;
  border: 2px solid #000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
